html {
    font-size: 62.5%;
}


.nav-bar{
    display:grid;
    grid-template: 10vh/ 1fr 1fr 2fr  1fr 1fr;
    /*grid-template-rows: 150px;   es lo mismo que lo de arriba
    grid-template-columns: 150px 150px 150px 150 150 150px;*/
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(360px,1fr) );

}
.boton{
    border: 1px solid black;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width:fit-content;
    height: fit-content;
   
   
}

.footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 25%;
   text-align: center;


}